body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #a1c4fd, #c2e9fb);
    color: #333;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #1e90ff;
}

form {
    background: white;
    padding: 40px; /* Aumentar el padding */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 500px; /* Aumentar el ancho máximo */
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin: 12px 0 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 22px); /* Ajustar el ancho */
    padding: 12px; /* Aumentar el padding */
    margin-bottom: 15px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    font-size: 16px; /* Aumentar el tamaño de fuente */
}

button {
    background-color: #1e90ff;
    color: white;
    padding: 12px; /* Aumentar el padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 18px; /* Aumentar el tamaño de fuente */
}

button:hover {
    background-color: #104e8b;
}

.button {
    display: inline-block;
    background-color: #1e90ff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none; /* Quitar subrayado */
    margin-top: 15px; /* Espacio entre botones */
    font-size: 16px; /* Tamaño de fuente de los botones */
    transition: background-color 0.3s; /* Transición para hover */
}

.button:hover {
    background-color: #104e8b; /* Cambiar color al pasar el ratón */
}

