<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Clasificaciones</title>
    <link rel="stylesheet" href="/css/clasificacion/listarClasificaciones.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Clasificaciones</h1>
    <a class="add-classification" href="/clasificacion/agregar">Agregar Clasificación</a>
    <a class="back-home" href="/secretaria">Volver al Inicio</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% clasificaciones.forEach(clasificacion => { %>
                <tr>
                    <td><%= clasificacion.ID_Clasificacion %></td>
                    <td><%= clasificacion.Nombre_Clasificacion %></td>
                    <td>
                        <a class="edit-link" href="/clasificacion/editar/<%= clasificacion.ID_Clasificacion %>">Editar</a>
                        <a class="inactive-link" href="/clasificacion/inactivar/<%= clasificacion.ID_Clasificacion %>">Inactivar</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
