<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Turnos por Paciente</title>
    <link rel="stylesheet" href="/css/turnos/turnoPorPacienteForm.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Buscar Turnos por Paciente</h1>
    <form action="/turnos/por-paciente/buscar" method="POST">
        <label for="Dni_Paciente">DNI del Paciente:</label>
        <input type="text" name="Dni_Paciente" required>
        <button type="submit">Buscar</button>
        <a href="/secretaria">Volver al Inicio</a>
        <a href="/turno/filtros">Volver a Turnos</a>
    </form>
</body>
</html>



