<h2>Turnos Reservados</h2>
<form id="turnoForm" method="GET">
    <table>
        <tr>
            <th>Seleccionar</th>
            <th>Hora</th>
            <th>Fecha</th>
            <th>Motivo</th>
        </tr>
        <% turnos.forEach(turno => { %>
            <tr>
                <td>
                    <input type="radio" name="ID_Turno" value="<%= turno.ID_Turno %>" required>
                </td>

                <td><%= turno.Hora_Inicio_Turno %></td>
                <td><%= turno.Fecha_Turno %></td>
                <td><%= turno.Motivo_Consulta %></td>
            </tr>
        <% }) %>
    </table>
    <button type="submit">Ver Alternativas</button>
</form>

<script>
    document.getElementById("turnoForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const selectedTurno = document.querySelector('input[name="ID_Turno"]:checked');
        console.log(selectedTurno.value);
        if (selectedTurno) {
            const turnoId = selectedTurno.value;
            window.location.href = `/turno/alternativas/${turnoId}`;
        } else {
            alert("Por favor, selecciona un turno.");
        }
    });
</script>
