<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Agenda</title>
    <link rel="stylesheet" href="/css/agenda/editarAgenda.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Editar Agenda</h1>
    <form action="/agenda/<%= agenda.ID_Agenda %>" method="POST">
        <label for="Estado">Estado:</label>
        <select name="Estado" id="Estado" value="<%= agenda.Estado %>" required>
            <option value="Disponible">Disponible</option>
            <option value="No Disponible">No Disponible</option>
            <option value="VACACIONES PROFESIONAL">VACACIONES PROFESIONAL</option>
        </select>
    
        <button type="submit">Guardar Cambios</button>
    </form>
    
</body>
</html>
