<h1>Agregar Paciente</h1>
<form action="/paciente" method="POST">
    <label>Nombre:</label>
    <input type="text" name="nombre" required><br>
    <label>Apellido:</label>
    <input type="text" name="apellido" required><br>
    <label type="text">DNI:</label>
    <input type="text" name="dni" required><br>
    <label type="text">Obra Social:</label>
    <input type="text" name="obraSocial" required><br>
    <label>Teléfono:</label>
    <input type="text" name="telefono"><br>
    <label>Email:</label>
    <input type="email" name="email"><br>
    <button type="submit">Guardar</button>
</form>
