<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Paciente</title>
    <link rel="stylesheet" href="/css/paciente/agregarPaciente.css">
</head>
<body>
    <h1>Agregar Paciente</h1>
<form action="/paciente" method="POST">
    <label>Nombre:</label>
    <input type="text" name="nombre" required><br>
    <label>Apellido:</label>
    <input type="text" name="apellido" required><br>
    <label type="text">DNI:</label>
    <input type="text" name="dni" required><br>
    <label type="text">Obra Social:</label>
    <input type="text" name="obraSocial" required><br>
    <label>Teléfono:</label>
    <input type="text" name="telefono"><br>
    <label>Email:</label>
    <input type="email" name="email"><br>
    <button type="submit">Guardar</button>
</form>
<a href="/paciente/inicio" class="button">Volver a la lista</a>
<a href="/" class="button">Volver al Inicio</a>
</body>
</html>