<!-- src/views/createProfesional.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Profesional</title>
    <link rel="stylesheet" href="/css/profesional/agregarProfesional.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Agregar Nuevo Profesional</h1>
    <form action="/profesional" method="POST">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>
        </div>

        <div>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" required>
        </div>

        <div>
            <label for="telefono">Teléfono:</label>
            <input type="text" name="telefono" required>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>

        <button type="submit">Agregar Profesional</button>
    </form>

    <div class="link-container">
        <a href="/profesional" class="button-link">Volver a la lista</a>
        <a href="/" class="button-link">Volver al inicio</a>
    </div>
</body>
</html>
