<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>eaaaaaa</h1>
    <p>cargo mono</p>
    <a href="/profesional">ir a profesionales</a>
    <a href="/especialidad">ir a especialidades</a>
    <a href="/matricula">ir a matriculas</a>
</body>
</html>