<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alto servicio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>eaaaaaa</h1>
    <p>cargo mono</p>
    <a href="/profesional">ir a profesionales</a>
    <a href="/especialidad">ir a especialidades</a>
    <a href="/matriculas">ir a matriculas</a>
    <a href="/agenda">ir a agendas</a>
    <a href="/turno">ir a turnos</a>   
</body>
</html>