:root {
    --primary-color: #1e90ff; /* Azul */
    --secondary-color: #87ceeb; /* Celeste */
    --background-color: #f0f8ff; /* Fondo claro */
    --input-bg: #fff; /* Fondo de inputs */
    --input-border: #1e90ff; /* Borde de inputs */
    --button-bg: #1e90ff; /* Fondo de botones */
    --button-hover-bg: #104e8b; /* Fondo de botones al hover */
    --label-color: #333; /* Color de las etiquetas */
    --text-color: #333; /* Color de texto */
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px; /* Espacio alrededor del contenido */
    color: var(--text-color);
    text-align: center; /* Centrar el texto */
}

/* Estilo de encabezados */
h1, h2 {
    color: var(--primary-color);
}

/* Estilo del formulario */
form {
    background-color: var(--background-color);
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--label-color);
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    font-size: 1em;
    box-sizing: border-box;
    margin-bottom: 15px; /* Separación entre campos */
}

button {
    background-color: var(--button-bg);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-bg);
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid var(--primary-color);
}

th, td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--secondary-color);
}

/* Estilo de enlaces */
a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; /* Para que el margen funcione */
}

a:hover {
    background-color: var(--button-bg);
    color: white; /* Texto blanco al hover */
}