<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Baja Matrícula</title>
    <link rel="stylesheet" href="/css/matricula/agregarMatricula.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Dar de Baja Matrícula</h1>
    <p>¿Estás seguro de que deseas dar de baja la matrícula número <%= matricula.Numero_Matricula %>?</p>
    
    <form action="/matricula/baja/<%= matricula.ID_Matricula %>" method="POST">
        <button type="submit">Dar de baja</button>
    </form>

    <a href="/matricula">Cancelar</a>
    <a href="/admin">Volver al inicio</a>
</body>
</html>

