<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Especialidad</title>
    <link rel="stylesheet" href="/css/especialidad/agregarEspecialidad.css">
</head>
<body>
    <h1>Agregar Nueva Especialidad</h1>
    <form action="/especialidad" method="POST">
        <label for="nombre_especialidad">Nombre de la Especialidad:</label>
        <input type="text" name="nombre_especialidad" required>
        <button type="submit">Agregar Especialidad</button>
    </form>
    <a href="/especialidad">Volver a la lista</a>
    <a href="/">Volver al inicio</a>
</body>
</html>

