<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Especialidad</title>
    <link rel="stylesheet" href="/css/especialidad/editarEspecialidad.css">
</head>
<body>
    <h1>Editar Especialidad</h1>
    <form action="/especialidad/editar/<%= especialidad.ID_Especialidad %>" method="POST">
        <div>
            <label for="nombre_especialidad">Nombre de la Especialidad:</label>
            <input type="text" name="nombre_especialidad" value="<%= especialidad.Nombre_especialidad %>" required>
        </div>
        <button type="submit">Actualizar Especialidad</button>
    </form>

    <div class="button-container">
        <a href="/especialidad">Volver a la lista</a>
        <a href="/">Volver al inicio</a>
    </div>
</body>
</html>

